@import "variables";
@import "mixins";

.section_aboutApp {
  background-color: rgb(235, 235, 235);
  @include displayFlex();
  padding: 100px 50px;

  &__article {
    @include displayFlex(column, center, center);

    &__title {
      width: 80%;
      margin: 15px;
      font-size: 2em;
      text-align: center;
      font-weight: 400;
      line-height: 1.1;
      color: $mainHeader_and_colorTextInColumns;
    }

    &__paragraph {
      width: 70%;
      min-width: 200px;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.2;
      color: $mainHeader_and_colorTextInColumns;
    }

    &__icon {
      margin-bottom: 10px;
      font-size: 80px;
      color: $tableTrColor_and_iconColorFunc;
    }
  }
}