.eboutme {
   font-family: $fontOpenSans;
   width: 100%;
   // .eboutme__portreit
   &__inner{
      margin: 0 auto;
   background:$backgroundScreens;
   display: flex;
   justify-content: center;
   padding: 3em;
   }
   &__portreit {
      background:$navigation_and_SecondPanel;
      height: 20em;
      width: 20em;
      margin: 1em;
   }
   // .eboutme__description
   &__description {
      width:50%;
      margin: 0 3em;
   }
}
.description {
   
   // .description__head
   &__head {
      font-weight: 500;
         font-size: 3em;
         margin-bottom: 0.5em;
   }

   // .description__text
   &__text {
      font-size: 1.5em;
   }
}