@import "./variables.scss";
@import "./mixins.scss";

.header {
  @include container();
  font-family: $fontCharmonan;
  font-size: 1.5em;
  height: 6em;
  width: 100vw;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $mainHeader_and_colorTextInColumns;
  color: white;

    .header__list {
      display: flex;
      flex-grow: 1;
        font-family: "Open Sans", sans-serif;
        justify-content: space-evenly;
            margin: 0 0 0 3em;

      .header__list--li {
        padding: 10px;
        list-style: none;

        .header__list--li--a {
          text-decoration: none;
          color: white;
          text-transform: uppercase ;
          &:hover {
            color: #E58a20;
          }

        }
      }

    }
}

.header__logo--color {
  color: #E58a20;
}


