.stopka {
display: flex;
justify-content: space-between;
   // .stopka__columns
padding: 3em;
background-color:gray;
   &__columns {
      width: 25%;
   p {
         font-size: 1.5em;
         color: white;
      }
   }
}

.columns {
   
   // .columns__head

   &__head {
      font-size:2em;
      color:white;
      margin-bottom: 1em;
   }

   // .columns__list

   &__list {
      margin-left:1em;
      font-size: 1.5em;
      color:white;
   }

   // .columns__input

   &__input {
      input{
         border: none;
         padding: .5em;
         
      }

      button{
         background-color:tomato;
         color:white;
         border:none;
         padding: .5em;
         cursor: pointer;
      }
   }

   // .columns__icon

   &__icon {
      
      a{
         padding: 1em;
         object-fit: cover;
      text-decoration: none;
      color: white;
      }
   }
}

