@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$navigation_and_SecondPanel: #5B605F;
$mainHeader_and_colorTextInColumns: #4a4a49;
$buttons_and_favoritism_and_screenHeaders: #FF6600;
$backgroundScreens: #FFFFFA;
$messTypeInfo: #3498DB;
$messTypeWarning: #FFB03B;
$messTypeSuccess: #468966;
$trashColorIcon: #BD4932;
$tableTrColor_and_iconColorFunc:  #A1A194;

$fontOpenSans: 'Open Sans', sans-serif;
$fontCharmonan: 'Charmonman', cursive;

$maxWidthFromProject: 1440px;

