@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 14px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slideshow {
  width: 1440px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slideshow__images {
  height: 100%;
  width: 100%;
}

.slideshow__images img {
  height: 100%;
  width: 80%;
}

.slideshow__slide--left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.slideshow__slide--right {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0;
  cursor: pointer;
}

.slideshow span:hover {
  color: rgba(0, 0, 255, 0.7);
}

.slideshow {
  font-size: 4rem;
}

.CTA {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #4a4a49;
  width: 100vw;
  height: 10em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CTA__text {
  margin: 20px 0;
}

.CTA__text__head {
  padding: 1rem 0;
}

.CTA__button {
  background-color: #E58a20;
  color: white;
  font-weight: bold;
  margin: 1em;
  border: 0;
  padding: 10px 20px;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Charmonman", cursive;
  font-size: 14px;
  height: 6em;
  width: 100vw;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4a4a49;
  color: white;
}

.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.header .header__list .header__list--li {
  padding: 10px;
  list-style: none;
}

.header .header__list .header__list--li .header__list--li--a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header .header__list .header__list--li .header__list--li--a:hover {
  color: #E58a20;
}

.header__logo--color {
  color: #E58a20;
}

.section_aboutApp {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  padding: 100px 50px;
}

.section_aboutApp__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_aboutApp__article__title {
  width: 80%;
  margin: 15px;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  color: #4a4a49;
}

.section_aboutApp__article__paragraph {
  width: 70%;
  min-width: 200px;
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  color: #4a4a49;
}

.section_aboutApp__article__icon {
  margin-bottom: 10px;
  font-size: 80px;
  color: #A1A194;
}

.stopka {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: start;
  padding: 3em;
  background-color: #5B605F;
}

.stopka__columns {
  width: 20em;
}

.stopka__columns p {
  font-size: 1.5em;
  color: #FFFFFA;
}

.columns__head {
  font-size: 2em;
  color: #FFFFFA;
  margin-bottom: 1em;
}

.columns__list {
  margin-left: 1em;
  font-size: 1.5em;
  color: #FFFFFA;
}

.columns__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__input input {
  border: none;
  padding: .5em;
}

.columns__input button {
  background-color: #FF6600;
  color: #FFFFFA;
  border: none;
  padding: .5em;
  cursor: pointer;
}

.columns__icon {
  width: 10em;
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.columns__icon .fa-facebook-f:before {
  content: "\f39e";
  color: #5B605F;
  padding: 0.1em 0 0 0.2em;
}

.columns__icon .fa-twitter::before {
  content: "\f099";
  color: #5B605F;
}

.columns__icon .fa-instagram::before {
  content: "\f16d";
  color: #FFFFFA;
}

.columns__icon .fa-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1em;
  width: 1em;
  font-size: 2em;
  background-color: #FFFFFA;
  border-radius: .2em;
}

.columns__icon .fa-brands:last-child {
  background-color: #5B605F;
  font-size: 2.5em;
}

.columns__icon a {
  text-decoration: none;
}

.footer {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background: #4a4a49;
  color: #FFFFFA;
}

.footer__text span {
  color: #FF6600;
}

.eboutme {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: start;
}

.eboutme__inner {
  margin: 0 auto;
  background: #FFFFFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
}

.eboutme__portreit {
  background: #5B605F;
  height: 20em;
  width: 20em;
  margin: 1em;
}

.eboutme__description {
  width: 50%;
  margin: 0 3em;
}

.description__head {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.description__text {
  font-size: 1.5em;
}
/*# sourceMappingURL=main.css.map */