@import "../mixins";
@import "../variables";

.main--section__container {
  background-color: $backgroundScreens;
  width: 100%;
  @include displayFlex(column);
  border: 2px dotted #A1A194;
  cursor: default;
  &__table {
    margin: 0 50px 30px 50px;
    border-spacing: 0;

    > caption {
      padding: 15px 0;
      font-size: 20px;
      font-weight: bold;
      color: $buttons_and_favoritism_and_screenHeaders;
    }
    tr {
      > td, th {
        &:not(td){
        padding: 15px 0 15px 0;
        }
        padding: 15px 0 15px 12px;
        border-top: 1px solid #A1A194;

      }
      > td {
        color: $tableTrColor_and_iconColorFunc;
        font-size: 24px;
        max-width: 125px;

      }
      > th {
        color: $mainHeader_and_colorTextInColumns;
        font-size: 26px;
        text-align: start;
      }
      &:last-of-type {
        > td {
          border-bottom: 1px solid #A1A194;
        }
      }
    }
  }

  &__btnsCollection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
      @include displayFlex(row, flex-start, none);
      background-color: transparent;
      color: $buttons_and_favoritism_and_screenHeaders;
      font-size: 16px;
      border: none;
      padding: 5px;
      cursor: pointer;

      > p {
        padding: 0 5px;
      }
    }
  }
}