.main__section__startMessage {
    display:flex;
    flex-direction: column;
}

.main__section__startMessage__header {

}

.main__section__startMessage__form {

}

.main__section__startMessage__form_input {

}

.main__section__startMessage__button {
background-color: #FF6600;
}

.main__section__startMessage__paragraph {

}